.contact-container {  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-container a {
  text-decoration: none;
  outline: none;
  color: white;
  font-weight: 400;
  background: #ed5565;
  padding: 25px 150px;
}

.contact-container a:hover {
  background: #da4453;
  transition: 0.3s;
}
