.container {
  display: flex; 
    
  justify-content: flex-start;
  flex-direction: column;  
}

h1 {
  padding: 15px;
  font-weight: 100;
  font-size: 32px;
  color: #777;
}

.container .image {
  max-width: 300px;
  max-height: 300px;
  /* background: fuchsia;: */
  overflow: hidden;
  margin-top: 30px;
}

.git a:hover {
  color: #f16646;
  border-bottom: 1px solid #f16646;
  transition: 1s;  
}

.container .image img{
  width: 100%;

}
