:root {
    --grey: #95a5a6;
    --white: #ecf0f1;
    --purewhite: #fff;
    --red: #e74c3c;
    --orange: #e67e22;
    --yellow: #f1c40f;
    --green: #2cc990;
    --blue: #2c82c9;
    --black: #333;
}
